@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
.animate-float-slow {
  animation: float 5s ease-in-out infinite;
}
.animate-float-medium {
  animation: float 4s ease-in-out infinite;
}


